
body {
    margin-top: 10px;
    /* margin-left: 180px;
    margin-right: 180px; */
    margin-inline: 0px;
    background: #1f2937;
    font-family: Helvetica, Arial, sans-serif;
    color: white;
}



.header {
    margin-inline: 180px;
    display: flex;
    justify-content: space-between;
    padding: 0px;
}

.logo {
    font-weight: bolder;
    font-size: 24px;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap:20px;
    font-size: 18px;

}

.main {
    margin-inline: 180px;
    display: flex;
    justify-content: space-between;
    padding-block: 80px;
}

main-right {
    display: flex;
    
}

.pic {
    gap: 0px;
}

img {
    width: auto;
    height: 350px;
}

button {
    border: none;
    border-radius: 8px;
    background: #3882F6;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 8px 24px;
    margin-block: 10px;
}

.main-left {
    margin-right: 50px;
}

.title {
    font-size: 48px ;
    font-weight: 950;
}


p {
    margin: 0px;
    color: rgb(218, 215, 215)
}

.info {
    background: white;
    color: #1f2937;
    padding: 50px;

}
.info-header {
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 50px;
}

.info-slides {
    margin-inline: 180px;
}


