
body {
    margin-top: 10px;
    margin-inline: 0px;
    background: #1f2937;
    font-family: Helvetica, Arial, sans-serif;
    color: white;
}

.header {
    margin-inline: 180px;
    display: flex;
    justify-content: space-between;
    padding: 0px;
    margin-top: 20px;
}

.logo {
    font-weight: bolder;
    font-size: 24px;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap:20px;
    font-size: 18px;

}

.main {
    margin-inline: 180px;
    display: flex;
    justify-content: space-between;
    padding-block: 80px;
}

main-right {
    display: flex;
    
}

.pic {
    gap: 0px;
}

img {
    width: auto;
    height: 310px;
}

button {
    border: none;
    border-radius: 8px;
    background: #3882F6;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 8px 24px;
    margin-block: 10px;
}

.main-left {
    margin-right: 50px;
}

.title {
    font-size: 48px ;
    font-weight: 950;
}


p {
    margin: 0px;
    color: rgb(218, 215, 215)
}

.info {
    background: white;
    color: #1f2937;
    padding: 50px;

}
.info-header {
    text-align: center;
    font-size: 36px;
    font-weight: 950;
    margin-bottom: 30px;
}

.info-slides {
    display: flex;
    justify-content: center;
    margin-inline: 180px;
}

.slide img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    outline: 6px solid #3882F6;
    border-radius: 20px;
    margin-inline: 30px;

}

.slide, .slide-desc {
    margin: 10px;
    text-align: center;
    font-size: 15px;
}

.skills-text {
    color: rgb(97, 96, 96);
    font-size: 30px;
    font-style: italic;
    font-weight: lighter;
    padding-inline: 320px;
    padding-block: 100px;
    background-color:  #e5e7eb;
}

.action {
    background-color: white;
    padding-block: 80px;

}

.action-block {
    background-color: #3882F6;
    margin-inline: 180px;
    padding-block: 50px;
    border-radius: 8px;

    text-align: center;

    color: #1f2937;
    font-size: 30px;
    font-style: italic;
    font-weight: lighter;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.action-text {
    text-align: left;
    color: white;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    margin-inline: 150px;
}

.action-sub {
    font-size: 16px;
    font-weight: 300;
}

.action-button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    outline: 3px solid white;
    border-radius: 8px;
    padding: 0px 20px; /* Combining padding-inline and padding-block */
    height: 30px;
    margin-inline: 150px;
}

.footer {
    margin: 50px;
    text-align: center;
}


